* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle at center, #212224, #3F4144);
    height: 100vh;
}

.background {
    height: 100vh;
    background-image: url("../img/rain.gif");
}

header {
    padding: 1rem;
    display: flex;
    justify-content: right;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFBC;
    margin: 0 20rem;
    border-radius: 15px;
}

nav a {
    text-decoration: none;
    margin: auto;
    font-size: 24px;
    color: black;
}

nav a:hover {
    animation: bounce 0.4s;
}

header button {
    background-color: transparent;
    outline: none;
    border: none;
}

header button img {
    max-width: 48px;
    max-height: 48px;
}

header button:hover {
    transform: scale(1.2);
}

header button:active {
    transform: scale(1);
}

.profile {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 5px solid #232B58;
}

.name {
    color: #9CDBE2;
}

.content {
    display: block;
}

.banner {
    display: none;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.banner img {
    width: 100%;
    height: 15vh;
    border-radius: 15px;
    margin: auto;
}


.textbox {
    max-width: 80%;
    text-align: center;
    background-color: #9CDBE2;
    border: 5px solid #232B58;
    border-radius: 15px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 14px;
}

.aboutbox {
    max-width: 80%;
    background-color: #9CDBE2;
    border: 5px solid #232B58;
    border-radius: 15px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 14px;
}

.biospacing {
    width: 90%;
    margin: auto;
}

.left-bio:first-child {
    text-align: center;
}

.left-bio p {
    text-align: left;
    font-size: 14px;
}

.left-bio ul {
    text-align: left;
    font-size: 14px;
}

.textbox p {
    margin: 0;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: block;
    justify-content: space-between;
    padding: 1rem;
}
footer p {
    display: none;
    color: #9CDBE2;
    margin: auto 0;
    padding: 0 1rem;
}

.biofooter {
    position: relative;
}

footer p a {
    text-decoration: none;
    color: #2F9AE0;
}

footer p a:hover {
    color: #FFFFBC;
}

.sociallinks {
    background-color: #9CDBE2;
    border: 5px solid #232B58;
    border-radius: 15px;
    text-align: center;
}

.sociallinks img {
    padding: 0.5rem 1rem;
}

.sociallinks svg {
    margin: 0.5rem 1rem;
}

.sociallinks svg:hover {
    fill: #E8C078;
}

.sociallinks a {
    text-decoration: none;
}

@keyframes bounce {
   40%, 80%, 100% {
    transform: translateY(0);
    } 
   20% {
    transform: translateY(-5px);
    } 
   60% {
    transform: translateY(5px);
    } 
}


@media (min-width: 768px) {
    footer {
        display: flex;
    }

    .textbox {
        font-size: 24px;
    }

    main h1 {
        font-size: 48px;
    }

    .profile {
        max-width: 250px;
        max-height: 250px;
    }
}

@media (min-width: 992px) {
    .textbox, .aboutbox {
        max-width: 90%;
    }

    .banner, footer p {
        display: block;
    }

    .biofooter {
        position: fixed;
        bottom: 0;
    }

    .content {
        display: flex;
    }
}