@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #FAF7F7;
  font-family: 'Segoe UI', 'Roboto', 'Ubuntu',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.topscroll ul, .topscroll {
  background-color: transparent;
  color: #FAF7F7;
}

.midscroll ul, .midscroll {
  
}

.topscroll ul li:hover {
  color: #3A4856;
  border-bottom: 1px solid #3A4856;
  cursor: pointer;
}

.midscroll ul li:hover {
  color: #FAF7F7;
  border-bottom: 1px solid #FAF7F7;
  cursor: pointer;
}

.profile {
  border-radius: 15px;
  border: 3px solid #FAF7F7;
  box-shadow: 8px 8px rgba(58, 75, 86, 0.25);
}

.viewresume:hover {
  border-radius: 13px;
  background-color:rgba(58, 75, 86, 0.5);
}

.projects {
  background-color:#FAF7F7;
}

.card-container {
  perspective: 900px;
}

.card {
  border-radius: 15px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.projecttag {
  background-color: #FAF7F7;
  border-radius: 15px;
  padding: 1rem;
  height: 4rem;
  width: 8rem;
  margin: 0 1rem;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.card-content, .hover-content {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.hover-content {
  transform: rotateY(180deg);
  position: relative;
}

.card-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.contactform {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

form button {
  margin-top: 2rem;
  width: 10%;
  margin: 2rem auto;
  padding: 0.25rem;
  background-color: #FAF7F7;
  border: 1px solid black;
}

form input {
  border: 1px solid black;
  background-color: #FAF7F7;
}